
**/bin/
**/obj/
**/out/
**/publish/


**/.vs/
**/.idea/
**/.vscode/
**/*.user
**/*.suo


**/logs/
**/*.log


.git/
.gitignore


Dockerfile
.dockerignore


.env
.env.example
**/appsettings.Local.json
**/appsettings.Development.json


scripts/
docs/
db/
*.md