
**/bin/
**/obj/
**/out/
**/publish/


**/.vs/
**/.idea/
**/.vscode/
**/*.user
**/*.suo


**/logs/
**/*.log


.env
scripts/aci-petcare360.yaml
**/appsettings.Local.json
**/appsettings.Development.json


.DS_Store
Thumbs.db